.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.main-app {
  width: 100vw;
  height: 100vh;
}

.video-view-container {
  display: flex;
  overflow: auto;
  flex-flow: column nowrap;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  /* width: 100vw; */
}

.video-view {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-flow: row nowrap;
  scroll-snap-align: start;
  width: 100%;
  height: auto;
}

.video-player {
  height: 100vh;
  min-width: 100%;
}

.video-info-container {
  display: block;
  scroll-snap-type: x mandatory;
  height: 100vh;
  min-width: 100vw;
}

.video-info {
  scroll-snap-align: start;
}
